In [1]:
    import matplotlib.pyplot as plt
    import numpy as np
    import pandas as pd

    import warnings
    warnings.filterwarnings('ignore')

In [2]:
def unpickle(file):
    import pickle
    with open(file, 'rb') as fo:
        data = pickle.load(fo, encoding='bytes')
    return data

In [3]:
import pickle
import numpy as np
import pandas as pd

# Initialize empty lists to store images, labels, and batch information
all_images = []
all_labels = []
all_batches = []  # Add this list to store batch information

# Define a list of filenames to unpickle
filenames = ['data_batch_1', 'data_batch_2', 'data_batch_3', 'data_batch_4', 'data_batch_5','test_batch']  # Add more filenames as needed

# Loop through the filenames and unpickle each file
for filename in filenames:
    with open(filename, 'rb') as file:
        data_batch = pickle.load(file, encoding='bytes')
        
        # Extract images, labels, and batch information from the data batch
        images = data_batch[b'data']
        labels = data_batch[b'labels']
        
        # Append the images, labels, and batch information to their respective lists
        all_images.append(images)
        all_labels.extend(labels)
        all_batches.extend([filename] * len(images))  # Store batch information for each image

# Concatenate all the images into a single NumPy array
all_images = np.concatenate(all_images, axis=0)

# Reshape the image data to have one column per pixel channel (RGB)
all_images = all_images.reshape(-1, 3, 32, 32).transpose(0, 2, 3, 1)  # Assuming image dimensions are 32x32x3 (HxWxC)

# Flatten the image arrays to store them as pixel values
all_images = all_images.reshape(-1, 32 * 32 * 3)

# Create a DataFrame to store the data
data = pd.DataFrame()

# Add columns for pixel values, labels, and batch information
for i in range(32 * 32 * 3):
    data[f'Pixel_{i + 1}'] = all_images[:, i]

data['Label'] = all_labels
data['Batch'] = all_batches  # Add batch information column

# Now, 'data' contains columns for pixel values, labels, and batch information
# You can save it to a CSV file using data.to_csv('your_filename.csv', index=False)

In [4]:
# Iterate through the first image of each data batch
for i in range(len(filenames)):
    first_image = all_images[i]  # Get the first image from the ith data batch
    
    # Print the shape and dimensions of the first image
    print(f"Shape of the first image in {filenames[i]}: {first_image.shape}")
    print(f"Dimensions of the first image in {filenames[i]}: {first_image.ndim}")

Shape of the first image in data_batch_1: (3072,)
Dimensions of the first image in data_batch_1: 1
Shape of the first image in data_batch_2: (3072,)
Dimensions of the first image in data_batch_2: 1
Shape of the first image in data_batch_3: (3072,)
Dimensions of the first image in data_batch_3: 1
Shape of the first image in data_batch_4: (3072,)
Dimensions of the first image in data_batch_4: 1
Shape of the first image in data_batch_5: (3072,)
Dimensions of the first image in data_batch_5: 1
Shape of the first image in test_batch: (3072,)
Dimensions of the first image in test_batch: 1

In [5]:
data.shape

(60000, 3074)

In [6]:
data.tail()

,Pixel_1,Pixel_2,Pixel_3,Pixel_4,Pixel_5,Pixel_6,Pixel_7,Pixel_8,Pixel_9,Pixel_10,...,Pixel_3065,Pixel_3066,Pixel_3067,Pixel_3068,Pixel_3069,Pixel_3070,Pixel_3071,Pixel_3072,Label,Batch
59995,76,78,133,76,78,134,77,80,132,76,...,219,236,200,215,234,199,216,236,8,test_batch
59996,81,57,43,91,69,53,98,75,63,106,...,139,129,171,167,147,167,164,160,3,test_batch
59997,20,15,12,19,14,11,15,14,11,15,...,23,50,26,23,53,25,20,47,5,test_batch
59998,25,40,12,15,36,3,23,41,18,17,...,124,80,95,123,81,92,120,80,1,test_batch
59999,73,78,75,98,103,113,99,106,114,77,...,115,94,68,65,58,27,26,26,7,test_batch

In [7]:
data.Batch.value_counts()

data_batch_1    10000
data_batch_2    10000
data_batch_3    10000
data_batch_4    10000
data_batch_5    10000
test_batch      10000
Name: Batch, dtype: int64

In [8]:
# creating instance of Label Encoder

from sklearn import preprocessing

le = preprocessing.LabelEncoder()

In [9]:
# # Applying Label Encoder to target column
data['Batch']= le.fit_transform(data['Batch'])
data.tail()

,Pixel_1,Pixel_2,Pixel_3,Pixel_4,Pixel_5,Pixel_6,Pixel_7,Pixel_8,Pixel_9,Pixel_10,...,Pixel_3065,Pixel_3066,Pixel_3067,Pixel_3068,Pixel_3069,Pixel_3070,Pixel_3071,Pixel_3072,Label,Batch
59995,76,78,133,76,78,134,77,80,132,76,...,219,236,200,215,234,199,216,236,8,5
59996,81,57,43,91,69,53,98,75,63,106,...,139,129,171,167,147,167,164,160,3,5
59997,20,15,12,19,14,11,15,14,11,15,...,23,50,26,23,53,25,20,47,5,5
59998,25,40,12,15,36,3,23,41,18,17,...,124,80,95,123,81,92,120,80,1,5
59999,73,78,75,98,103,113,99,106,114,77,...,115,94,68,65,58,27,26,26,7,5

In [10]:
le.inverse_transform([0,1,2,3,4,5])

array(['data_batch_1', 'data_batch_2', 'data_batch_3', 'data_batch_4',
       'data_batch_5', 'test_batch'], dtype=object)

In [11]:
 data.to_csv('iteration.csv', index=False)